    <!--
<p  style="background: violet; text-align:center ">
    details-article works!
    <br>
    L'identifiant de l'article est : {{id}}
</p>
-->

<b>DATE: </b> <!-- {{article.dateCreation|date:'dd/MM/yy, h:mm a'}} -->    <!-- autres formats |date:'medium' |date:'short' |date:'d MMM y' -->
{{article.createdAt|date:'dd/MM/yy, h:mm a'}}
<br>
<b>CATEGORIE: </b> {{article.categorie}}
<br>
<b>TITRE: </b> {{article.titre}}
<br>
<b>CONTENU: </b> {{article.contenu}}
<br>
<br>
<form action="">
    <button (click)="supprimerArticle()">supprimer</button>
    <button (click)="modifierArticle()">modifier</button>
</form>
