<!-- <p>
    PLACER ICI LA LISTE DE TOUS LES ARTICLES
</p>
<br>
CATEGORIE: {{categorie}}
<br>
TITRE: {{titre}}
<br>
<br> -->
<router-outlet></router-outlet>

<ul>
    <li *ngFor="let a of mesArticles">
        <!-- <a routerLink="['detailsArticle',dateArt,categorieArt,titreArt,contenuArt]" class="nav-link"> -->
        <a [routerLink]="['detailsArticle', a._id]" class="nav-link">
        <!-- précision indispensable écrire _ID au lieu de ID sinon impossible de récuperer l'identifiant auto-généré de mongoose: 
            pour être à l'abri, il faut utiliser les mêmes noms de champs pour le modèle mongoose et pour l'interface de formatage côté front-end
        -->
        
        <!-- 
            <a routerLink='detailsArticle/:a.id' class="nav-link"> -->
            <!-- <b>ID: </b>  {{a.id}} -->
            <!-- <br> -->
            <!-- <b>DATE: </b> {{a.dateCreation|date:'dd/MM/yy, h:mm a'}} --> <!-- autres formats |date:'medium' |date:'short' |date:'d MMM y' -->
            <!-- propriété date remplacée par dateCreation -->
            <!-- <br>
            <b>CATEGORIE: </b>  {{a.categorie}} 
        
            <br>
        
            <b>TITRE: </b>
        -->
            {{a.titre}}
            <br>
            <!-- <b>CONTENU: </b> {{a.contenu}} -->
        </a>
        <hr>
    </li>
</ul>

